.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.5rem;
}

.gallery:has(> iframe) {
	grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 37rem) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery:has(> iframe) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.gallery > .card {
	display: flex;
}

.gallery img {
	object-fit: cover;
	object-position: top;
	aspect-ratio: 3/4.5;
}

.gallery video {
	object-fit: contain;
	aspect-ratio: 16/9;
}
